/*
=================================================================================
Author: Jacky Chang
Contains: Event handlers for most GUI elements, including:
=================================================================================
*/
html {
	font-size: 100%;
}

body {
	/* The default font size will be 10 pixels with the default web browser font size setting*/
	font: 0.625em/1em Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #03719c;


}

#mainSvg {
	position: fixed;
	top: 23%;
	left:10.9%;
	width: 80%;
	height: 60%;
	background-color: black;
    cursor:pointer;
}
#inforSvg {
	position: fixed;
	top: 84.2%;
	left:10.9%;
	width: 80%;
	height:15.5%;
	background-color: white;
    cursor:pointer;
}

#pathGame {
  fill: none;
  stroke: white;
  stroke-width: 3px;
}

#circleGame {
  fill: steelblue;
  stroke: white;
  stroke-width: 3px;
}
#iframe {
  position: fixed;
  top: 25%;
  left: 40%;
  width: 45%; 
  height: 55%;
  frameborder: 0;
  style: border:0;

}
#homeScreen {
  position: fixed;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  background-color: white;
}
#stockDiv {
  position: relative; 
  width: 800px;
  height: 300px;
  left:30%; 
  top: 10%; 
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;

}
#stockIframe {
  position: relative; 
  left:20%; 
  top: 10%; 
  width: 50%; 
  height:70%; 
}
#image { 
  position: relative; 
  top: 1%;
  left:10.9%;
  width: 80%;
  height: 60%;
}

#goBackButton {
    position: relative; 

  -moz-box-shadow: 0px 1px 0px 0px #1c1b18;
  -webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
  background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
  background-color:#eae0c2;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  border:2px solid #333029;
  display:inline-block;
  cursor:pointer;
  color:#505739;
  font-family:arial;
  font-size:14px;
  font-weight:bold;
  padding:12px 16px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  top: 1%;
  left:1%;
}
#goBackButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
  background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
  background-color:#ccc2a6;
}
#goBackButton:active {
  position:relative;
  top:1px;
}
