/*
=================================================================================
Author: Jacky Chang
Contains: Event handlers for most GUI elements, including:
=================================================================================
*/
html {
	font-size: 100%;
}

body {
	/* The default font size will be 10 pixels with the default web browser font size setting*/
	font: 0.625em/1em Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #03719c;


}

#mainSvg {
	position: fixed;
	top: 8%;
	left:20.9%;
	width: 59.9%;
	height: 79%;
	background-color: #000;
    cursor:pointer;
}
#inforSvg {
	position: fixed;
	top: 87.2%;
	left:20.9%;
	width: 59.9%;
	height:12.5%;
	background-color: white;
    cursor:pointer;
}

#left-bar {
	position: fixed;
	top: 8%;
	left: 0%;
	width: 20%;
	height: 100%;
	background-color: #99C2C2;
	border: 3px solid black;
}
#control-bar {
	position: fixed;
	top: 8%;
	left: 81%;
	width: 20%;
	height: 100%;
	background-color: #99C2C2;
	border: 3px solid black;
}
.messageInputBox {

	top: 40%;
	left: 81%;

}
#side-bar > * { /* all child elements of sidebar */
	padding-left: 1em;
}


#pathGame {
  fill: none;
  stroke: white;
  stroke-width: 3px;
}

#circleGame {
  fill: steelblue;
  stroke: white;
  stroke-width: 3px;
}
#iframe {
  position: fixed;
  top: 13%;
  left: 26%;
  width: 50%; 
  height: 70%;
  frameborder: 0;
  style: border:0;

}
#homeScreen {
  position: fixed;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  background-color: white;
}
