/*
=================================================================================
Author: Jacky Chang
Contains: Event handlers for most GUI elements, including:
=================================================================================
*/
html {
	font-size: 100%;
}

  html, body
  {
    height: 100%;
  }
  
  body
  {
    margin: 0px;
    padding: 0px;
    background: #282828 ;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 40;
    color: #919191;
  }
  
  
  h1, h2, h3
  {
    margin: 0;
    padding: 0;
  }
  
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

  #logo
  {
    padding: 1em 0em;
    text-transform: uppercase;
  }
  
  #logo h1 a
  {
    text-decoration: none;
    font-size: 1.9em;
    color: #FFF;
  }
  
  #logo span
  {
    color: black;
  }
  
/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

  #menu
  {
    background: #1B1B1B repeat;
    border-bottom: 4px solid #BC1414;
  }
  
  #menu ul
  {
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
    line-height: normal;
    text-align: center;
  }
  
  #menu li
  {
    display: inline-block;
  }
  
  #menu a
  {
    display: block;
    padding: 0em 2em;
    line-height: 80px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    color: #838383;
  }
  
  #menu .current_page_item a
  {
    background: #BC1414;
    color: #FFF;
  }
  
  #menu a:hover
  {
    text-decoration: none;
    color: #FFF;
  }


/*********************************************************************************/
/* svg                                                                          */
/*********************************************************************************/

#mainSvg {
	position: fixed;
  top: 26%;
  left:10.9%;
  width: 80%;
	height: 58%;
	background-color: black;
  margin: 0 auto;
}
#inforSvg {
	position: fixed;
	top: 84.2%;
	left:10.9%;
	width: 80%;
	height:15.5%;
	background-color: #170202;
}
/*********************************************************************************/
/* game                                                                          */
/*********************************************************************************/

#pathGame {
  fill: none;
  stroke: white;
  stroke-width: 3px;
}

#circleGame {
  fill: steelblue;
  stroke: white;
  stroke-width: 3px;
}
/*********************************************************************************/
/* iframe                                                                        */
/*********************************************************************************/

#iframe {
  position: fixed;
  top: 30%;
  left: 40%;
  width: 45%; 
  height: 50%;
  frameborder: 0;
  style: border:0;

}
/*********************************************************************************/
/* image                                                                         */
/*********************************************************************************/

#homeScreen {
  position: fixed;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  background-color: white;
}
#imgDiv { 
  position: relative; 
  top: 10%;
  left:2%;
   width: 550px;
  height: 300px;
  margin: 0 auto;
  overflow:hidden;
}
#imagePicture {
position: fixed;
  top: 23%;
  left:10.9%;
  width: 80%;
  height: 60%;
}
#imageBack {
position: fixed;
  top: 23%;
  left:10.9%;
  width: 30%;
  height: 20%;
}
#imageHome {
  top: 30%;
}
/*********************************************************************************/
/* stock trading                                                                 */
/*********************************************************************************/

#stockDiv {
  position: relative; 
  width: 800px;
  height: 300px;
  left:30%; 
  top: 10%; 
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;

}
#stockIframe {
  position: relative; 
  left:20%; 
  top: 10%; 
  width: 50%; 
  height:70%; 
}
/*********************************************************************************/
/* go back button                                                                */
/*********************************************************************************/
#goBackButton {
    position: fixed; 
  -moz-box-shadow: 0px 1px 0px 0px #1c1b18;
  -webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
  background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
  background-color:#eae0c2;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  border:2px solid #333029;
  display:inline-block;
  cursor:pointer;
  color:#505739;
  font-family:arial;
  font-size:14px;
  font-weight:bold;
  padding:12px 16px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  top: 25%;
  left:11.5%;
}
#goBackButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
  background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
  background-color:#ccc2a6;
}

/*********************************************************************************/
/* victoria viewer function button                                               */
/*********************************************************************************/
#personalDisplayOption {
      cursor:pointer;

}